# Python cache
pycache/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Temporary files
*.log
*.tmp

# Large compressed files
*.zip
.tar
.gz

# Kaggle cache
.kaggle/

# Matplotlib cache
.matplotlib/

# Environment variables
.env

# Ignore generated outputs (optional)
results/.csv
results/.pkl
